*.iml
.gradle
/.gradle-user
/.android-user
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.venv/
__pycache__/
*.pyc

app/build/

*.pt
*.onnx
!app/src/main/assets/models/det_500m.onnx
!app/src/main/assets/models/w600k_mbf.onnx

ml-mobileclip/
MobileCLIP2-S0/
